@{
    ViewData["Title"] = "Home Page";
}

@model List<WebApplicationMongodb.Models.Empregado>

<div class="container">
    <div class="row">
        <div class="col-9"><h1 class="display-4">Bem Vindo!</h1></div>
        <div class="col-4">
            <p>Cadastro de Funcionários!</p>
            <p class="text-left"><a class="btn btn-outline-success" href="./Empregado/Index">Acesse</a></p>
        </div>
        <div class="col-6">
            <img src="~/imgF.jpg" width="700" height="380">
        </div>
    </div>
</div>