@{
    ViewData["Title"] = "Home Page";
}

@model List<WebApplicationMongodb.Models.Contato>

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Cadastro de Funcionários!</p>
    <div class="icone-person">
    <i class="bi bi-file-person"></i>
    </div>
</div>
