@model List<WebApplicationMongodb.Models.Contato>

<h2>Contatos</h2>
<h3 class="badge bg-secondary">Cadastro de contatos - Buscar</h3>

<p class="text-left"><a  class="btn btn-outline-success" href="./Contato/Adicionar">Adicionar novo contato</a></p>

<table class="table table-success table-light">

    <tr>
        <th>
            Id
        </th>
        <th>
            Nome
        </th>
        <th>
            Endereço
        </th>
        <th>
            Telefone
        </th>
        <th>
           Operações
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-left">
                @item.Id
            </td>
            <td class="text-left">
                @item.Nome
            </td>
                <td>
                @item.Endereco
            </td>
            <td>
                @item.Telefone
            </td>
            <td>
                <a href="./Contato/Visualizar/@item.Id" class="text-primary bi-eye"></a>
                 <a href="./Contato/Alterar/@item.Id" class="text-sucess bi-pencil"></a>
                  <a href="./Contato/Excluir/@item.Id" class="text-danger bi-trash"></a>
            </td>
        </tr>
    }

</table>

